{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Administration - Permissions{% endblock %}

{% block body %}
<div class="container">
  <h1>Liste des news</h1>
	<div class="content">
		<table class="table table-striped sieve">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Auteur</th>
					<th>Date</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
