{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Administration{% endblock %}

{% block body %}
<div class="container">
	<h1>Administration</h1>
	<div class="content">
		<ul>
			<li><a href="{{path('site_trail_acl')}}">- Gestion des Permissions</a></li><br />
			<li><a href="{{path('site_trail_news_list')}}">- Gestion des News</a></li>
			<li><a href="{{path('site_trail_saveTypelieu')}}">Types de lieu</a></li>
		</ul>
	</div>
</div>
{% endblock %}
