{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Le club{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ new.titre }}</h1>
		
		<div class="text-right">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {%if is_granted('ROLE_Administrateur')%}
				<a href="{{ path('site_trail_news_manager', {'new_alias': new.alias }) }}" class="btn btn-primary">Modifier</a>
			{%endif%}
		{%endif%}
		</div>
		
		<div class="content">
			<div class="panel panel-default">
			  <div class="panel-body">
				<p>
					{{ new.texte }}
				</p>
			  </div>
			</div>
		</div>
	</div>
{% endblock %}