{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Le club{% endblock %}

{% block body %}
	<div class="container">
		<h1>Le club</h1>
		<div class="content">
			<div class="panel panel-default">
			  <div class="panel-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra ante eu libero vulputate, quis molestie dui facilisis. Cras tincidunt porttitor risus, vehicula commodo nibh bibendum sit amet. Aenean in placerat orci. Suspendisse aliquam, purus vel pulvinar cursus, odio sem consequat arcu, sed dignissim sem enim eget nunc. Quisque luctus dolor id sapien posuere egestas. Praesent dapibus enim id placerat euismod. Vivamus eu auctor ex. Cras leo orci, aliquam pharetra pulvinar id, luctus et ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus viverra nisl ipsum, at porttitor metus tempor ac. Nunc pellentesque scelerisque leo a hendrerit.
					<br>
					Maecenas tempor, sapien quis consectetur accumsan, augue metus laoreet tellus, at aliquam ipsum dui quis ante. Proin sit amet ornare odio. Donec vehicula condimentum velit. Nulla in risus eget ipsum consequat convallis sit amet ac ligula. Fusce consectetur tristique augue, non imperdiet nisi aliquet nec. Etiam non dictum eros, non congue dolor. In ac semper tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam ornare mauris augue. Proin non felis ut urna porta congue.
					<br>
					Cras elementum at massa at mollis. Duis gravida maximus maximus. Nam eget accumsan dui. Integer et lacinia risus. Vivamus mollis iaculis ipsum quis cursus. Nunc faucibus sit amet neque vitae aliquet. Maecenas diam risus, suscipit in volutpat a, blandit quis lacus. Donec blandit in nibh quis malesuada. Morbi et nisi mattis, tincidunt erat ut, gravida odio. Morbi sit amet efficitur magna, non tempor felis.
					<br>
					Phasellus volutpat tincidunt feugiat. Vestibulum ultricies venenatis quam non gravida. Curabitur imperdiet quam nibh, eu euismod enim commodo efficitur. Nulla vestibulum, arcu nec interdum luctus, mi urna maximus lectus, vitae tincidunt ex sapien vel arcu. Vivamus suscipit purus at posuere varius. In arcu neque, viverra ac ultrices luctus, consequat a ex. Morbi volutpat erat eu neque tempus consequat. Vestibulum porttitor congue sapien sit amet consequat. Nam fermentum euismod neque ut placerat. Nulla maximus leo eget lobortis vulputate. Nullam nec eros velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam ac gravida tellus. Fusce eget condimentum turpis, non scelerisque diam.
					<br>
					Sed ullamcorper lectus euismod urna aliquam sollicitudin. Pellentesque laoreet ultricies dignissim. Duis et vulputate purus. In aliquam purus quis erat vestibulum rutrum. Suspendisse luctus lacus in condimentum fringilla. Proin iaculis diam ac lectus ultricies pulvinar. Sed ex nulla, venenatis in velit vitae, scelerisque interdum ipsum. Fusce eget mollis lacus. Aenean iaculis feugiat erat, ut tempus ex imperdiet sit amet. Suspendisse efficitur justo id sapien rutrum, quis gravida nunc egestas. Donec turpis nunc, bibendum a turpis eu, condimentum congue velit. Suspendisse viverra justo non sem lacinia, sed sagittis dui auctor. Proin a nibh nisl.
				</p>
			  </div>
			</div>
		</div>
	</div>
{% endblock %}