{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
  {% if app.user %}
      <p> lala </p>
 {% else %}
     <p> pas lala</p>
 {% endif %}
 <a href="{{ path('calendrier') }}">Afficher le calendrier</a>
{% endblock %}