{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Image{% endblock %}

{% block body %}
	<div class="container">
		<h1>Image</h1>
		<div class="col-lg-12">
			<div class="thumbnail">
			  <img src="http://www.altavaltellinabike.it/media/menu/00/262/cd/en/images/percorsi-1920x500-0.jpg" alt="Smiley face">
			</div>
		</div>
		<p>Description :</p>
		<p>Auteur :</p>
		<p>Taille :</p>
		<p>Poids :</p>
	</div>
{% endblock %}