{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Liste des itinéraires{% endblock %}

{% block body %}
  {% if app.user %}
      <h1>Listage des itinéraires</h1>
	  {% for itineraire in resultats.list%}
		<p> Nom: {{itineraire.nom}}  ID: {{itineraire.id}}</p>
	  {% endfor %}
 {% else %}
     <p>Vous n'avez pas accès à cette page</p>
 {% endif %}
{% endblock %}