#legende
{
    border-collapse: separate;
    border-spacing: 5px 0px;
    padding-top: 15px;
    margin: 15px auto 15px auto;
    border-top: #C0C0C0 1px solid;
}

.red
{
    color: red;
}

.couleur
{
    width: 30px;
    border-radius: 25px;
}

#legende tr td:nth-child(1)
{
    background-color: #F79B23;
}

#legende tr td:nth-child(2)
{
    padding-right: 15px;
}

#legende tr td:nth-child(3)
{
    background-color: #E4D623;
}

#legende tr td:nth-child(4)
{
    padding-right: 15px;
}

#legende tr td:nth-child(5)
{
    background-color: #79D118;
}

#legende tr td:nth-child(6)
{
    padding-right: 15px;
}

#legende tr td:nth-child(7)
{
    background-color: #FF3737;
}

.modal-body
{
    word-wrap: break-word;
}

.cadreRecherche
{
    border-bottom: solid 1px grey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

ul li
{
    list-style-type:none;
    display: inline-block;
    padding-right: 6px;
}

.blockRes
{
    border-top: solid 1px grey;
    padding: 10px;
}

.fc-content-skeleton:hover, .fc-day
{
    cursor: pointer;
}

.fc-event-container
{
    cursor: auto;
}

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}
 
/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white;
}
 
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}
 
.ui-autocomplete li {
    font-size: 16px;
}
 
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}