#legende
{
    border-collapse: separate;
    border-spacing: 5px 0px;
    padding-top: 15px;
    margin: 15px auto 15px auto;
    border-top: #C0C0C0 1px solid;
}

.couleur
{
    width: 30px;
    border-radius: 25px;
}

#legende tr td:nth-child(1)
{
    background-color: #F79B23;
}

#legende tr td:nth-child(2)
{
    padding-right: 15px;
}

#legende tr td:nth-child(3)
{
    background-color: #E4D623;
}

#legende tr td:nth-child(4)
{
    padding-right: 15px;
}

#legende tr td:nth-child(5)
{
    background-color: #79D118;
}

#legende tr td:nth-child(6)
{
    padding-right: 15px;
}

#legende tr td:nth-child(7)
{
    background-color: #FF3737;
}

.modal-body
{
    word-wrap: break-word;
}