#calendar
{
    margin: auto;
    width: 900px;
}

#dlCal
{
	margin-top: 20px;
}

#listeAction
{
    position: absolute;
    width: 200px;
    z-index: 2;
    text-align: center;
    border-radius: 3px;
    border: solid 1px #868686;
    background-color: white;
}

#listeAction
{
    display: none;
}

.petitTexte
{
    font-size: 0.8em;
}

.icsTableTd
{
    padding: 3px;
}

.tdCenter
{
    vertical-align: middle;
}

.tableContainer
{
    border-bottom: dashed 1px #bfbfbf;
    margin-bottom: 5px;
}

.tableContainer table
{
    margin: 0 auto 5px auto;
}

#lienAjoutEvent
{
    cursor: pointer;
}

.container
{
	margin-bottom: 30px;
}