{% extends "SiteTrailBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Calendrier{% endblock %}
{% block body %}
    <div class="container">
	<div class="col-sm-6">
            <h1>Calendrier</h1>
	</div>
        <div class="col-sm-6">
            {% if (app.user) %}
                <button id="dlCal" type="button" class='btn btn-warning pull-right'>Télécharger mon calendrier</button>
            {% endif %}
        </div>
        
        <div id='calendar' class="col-sm-12"></div> <!-- Div qui contient le calendrier -->
        
        <!-- Affichage de la légende -->
        <div class="col-sm-12">
            <table id="legende">
                <caption>Légende : </caption>
                <tr>
                    <td class="couleur"></td>
                    <td>Pas de participation</td>
                    <td class="couleur"></td>
                    <td>En attente</td>
                    <td class="couleur"></td>
                    <td>Accepté</td>
                    <td class="couleur"></td>
                    <td>Refusé</td>
                </tr>
            </table>
        </div>
    </div>

    {% javascripts '@SiteTrailBundle/Resources/js/*' '@SiteTrailBundle/Resources/js/event/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script>
        var isCo = false;
        
        {% if (app.user) %}
            isCo = true;
        {% endif %}        
        
        afficherCalendrier({{listeEvenement|raw}}, isCo);
    </script>
{% endblock %}
